html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--color-border)) transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(var(--color-border));
  border-radius: 4px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
